EventManagement/organizer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.concert.com/event"
	xmlns:tns="http://www.concert.com/event" 
	xmlns:cmn="http://www.concert.com/common"
	elementFormDefault="qualified">
	
	<import schemaLocation="common.xsd"
		namespace="http://www.concert.com/common" />

	<complexType name="organizerComponents">
		<sequence>
			<element name="name" type="cmn:max25Chars" />
			<element name="email" type="cmn:email" />
			<element name="phoneNumber" type="cmn:phone" />
		</sequence>
		
		<attribute name="id" type="cmn:id" use="required"/>
		
	</complexType>
</schema>